@namespace Kharbarchi.Client.Components.Header

<div class="wd-header-search wd-design-1 wd-style-icon  bi bi-search fs-4 wd-display-full-screen @CssClass" style="color:dimgray" title="جستجو">
    <a href="#" rel="nofollow" aria-label="جستجو" @onclick="OnSearchClick" @onclick:preventDefault>
        @*<span class="wd-tools-icon"></span>
        <span class="wd-tools-text">جستجو</span>*@
    </a>
</div>

@code {
    [Parameter]
    public string CssClass { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnSearchClick { get; set; }
}