@inherits LayoutComponentBase
@inject IJSRuntime JS

<div >
    <header>
        <Kharbarchi.Client.Layout.For_Header.MainHeader/>
    </header>

    <main class="layout" >
        @Body
    </main>

    <footer class="app-footer">
        © Design By Rosa Khosropanahi
    </footer>
</div>

@code {
    bool menuOpen;
    bool darkMode;

    protected override async Task OnInitializedAsync()
    {
        darkMode = await JS.InvokeAsync<string?>("localStorage.getItem", "theme") == "dark";
        await JS.InvokeVoidAsync("setTheme", darkMode);
    }

    // void ToggleMenu() => menuOpen = !menuOpen;
    // void CloseMenu() => menuOpen = false;

    async Task ToggleTheme()
    {
        darkMode = !darkMode;
        await JS.InvokeVoidAsync("localStorage.setItem", "theme", darkMode ? "dark" : "light");
        await JS.InvokeVoidAsync("setTheme", darkMode);
    }
}