<nav>
    <nav class="nav @(menuOpen ? "open" : "")">
        <NavLink href="/" Match="NavLinkMatch.All" @onclick="CloseMenu">خانه</NavLink>
        <NavLink href="/products" @onclick="CloseMenu">محصولات</NavLink>

        <AuthorizeView>
            <Authorized>
                <NavLink href="/cart" @onclick="CloseMenu">سبد خرید</NavLink>
					
            </Authorized>
                
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <NavLink href="/admin/Dashboard" @onclick="CloseMenu">مدیریت</NavLink>
					
            </Authorized>
                
        </AuthorizeView>
            
        <AuthorizeView>
            <Authorized>
                <a href="/auth/logout" class="btn-danger">خروج</a>
					
            </Authorized>
            <NotAuthorized>
                <a href="/auth/login" class="btn">ورود</a>
            </NotAuthorized>
        </AuthorizeView>
            
        @* <NavLink href="/auth/login" @onclick="CloseMenu">ورود</NavLink> *@
    </nav>
</nav>
@code
{
    bool menuOpen;
    void ToggleMenu() => menuOpen = !menuOpen;
    void CloseMenu() => menuOpen = false;
}
