@inject IJSRuntime JSRuntime
@implements IAsyncDisposable


<nav class="whb-header whb-scroll-stick whb-sticky-real whb-sticky-prepared">
<div class="whb-main-header">

        <div class="whb-row whb-top-bar whb-not-sticky-row whb-with-bg whb-without-border whb-color-dark whb-hidden-mobile whb-flex-equal-sides">
            <div class="container">
                <div class="whb-flex-row whb-top-bar-inner">
                    <div class="whb-column whb-col-left whb-column5 whb-visible-lg">
                        <div class=" wd-social-icons wd-style-default wd-size-large social-follow wd-shape-circle  whb-07sq4324oc66g2g47rnw color-scheme-dark text-center">


                            <a rel="noopener noreferrer nofollow" href="./#" target="_blank" class=" wd-social-icon social-facebook" aria-label="Facebook link">
                                <span class="wd-icon"></span>
                            </a>

                            <a rel="noopener noreferrer nofollow" href="./#" target="_blank" class=" wd-social-icon social-twitter" aria-label="لینک شبکه X">
                                <span class="wd-icon"></span>
                            </a>



                            <a rel="noopener noreferrer nofollow" href="./#" target="_blank" class=" wd-social-icon social-instagram" aria-label="لینک اینستاگرام">
                                <span class="wd-icon"></span>
                            </a>


                            <a rel="noopener noreferrer nofollow" href="./#" target="_blank" class=" wd-social-icon social-youtube" aria-label="Youtube link">
                                <span class="wd-icon"></span>
                            </a>

                            <a rel="noopener noreferrer nofollow" href="./#" target="_blank" class=" wd-social-icon social-pinterest" aria-label="لینک Pinterest">
                                <span class="wd-icon"></span>
                            </a>
                        </div>

                    </div>
                    <div class="whb-column whb-col-center whb-column6 whb-visible-lg whb-empty-column">
                    </div>
                    <div class="whb-column whb-col-right whb-column7 whb-visible-lg">

                        <nav class="wd-header-nav wd-header-secondary-nav whb-rbolg44gjrvghdho9924 text-left" role="navigation" aria-label="نوار بالای سربرگ">
                            <ul id="menu-%d9%86%d9%88%d8%a7%d8%b1-%d8%a8%d8%a7%d9%84%d8%a7%db%8c-%d8%b3%d8%b1%d8%a8%d8%b1%da%af" class="menu wd-nav wd-nav-header wd-nav-secondary wd-style-separated wd-gap-m">
                                <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18 item-level-0 menu-simple-dropdown wd-event-hover"><a href="./shop/" class="Header_Base-nav-link"><span class="nav-link-text">فروشگاه</span></a></li>
                                <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17 item-level-0 menu-simple-dropdown wd-event-hover"><a href="./mag/" class="Header_Base-nav-link"><span class="nav-link-text">بلاگ</span></a></li>
                                <li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16 item-level-0 menu-simple-dropdown wd-event-hover"><a href="./#" class="Header_Base-nav-link"><span class="nav-link-text">برند ها</span></a></li>
                                <li id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15 item-level-0 menu-simple-dropdown wd-event-hover"><a href="./#" class="Header_Base-nav-link"><span class="nav-link-text">مطالب کاربران</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="whb-column whb-col-mobile whb-column_mobile1 whb-hidden-lg whb-empty-column">
                    </div>
                </div>
            </div>
        </div>

        <div class="whb-row whb-general-header whb-sticky-row whb-with-bg whb-without-border whb-color-dark whb-with-shadow whb-flex-equal-sides">
            <div class="container">
                <div class="whb-flex-row whb-general-header-inner">
                    <div class="whb-column whb-col-left whb-column8 whb-visible-lg">
                        <div class="wd-header-my-account wd-tools-element wd-event-hover wd-with-username wd-design-1 wd-account-style-icon whb-y44vgu0l4o7ai2qgq2hp">
                            <a href="./my-account/" title="حساب کاربری من">

                                <span class="wd-tools-icon">
                                </span>
                                <span class="wd-tools-text">
                                    سلام، admin
                                </span>

                            </a>


                            <div class="wd-dropdown wd-dropdown-menu wd-dropdown-my-account wd-design-default color-scheme-dark">
                                <ul class="wd-sub-menu"><li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard"><a href="./my-account/"><span>پیشخوان</span></a></li><li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders"><a href="./my-account/orders/"><span>سفارش‌ها</span></a></li><li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads"><a href="./my-account/downloads/"><span>دانلودها</span></a></li><li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address"><a href="./my-account/edit-address/"><span>نشانی</span></a></li><li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account"><a href="./my-account/edit-account/"><span>جزئیات حساب</span></a></li><li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout"><a href="./my-account/customer-logout/?_wpnonce=275a96d75e"><span>خروج</span></a></li></ul>
                            </div>
                        </div>
                        <div class="wd-header-divider whb-divider-default whb-jdzuarb1mey0nszun3jt"></div>
                        <div class="info-box-wrapper  whb-wafnbs36h7690ijjmevd">
                            <div id="wd-696bef957c380" class=" wd-info-box text-right box-icon-align-right box-style-base color-scheme- wd-bg-none wd-items-top">
                                <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                    <div class="info-box-icon">


                                        <img width="41" height="24" src="./css/For_Header/same-day-delivery-41x24-1.png" class="attachment- size-" alt="" decoding="async">
                                    </div>
                                </div>
                                <div class="info-box-content">
                                    <div class="info-box-title title box-title-style-default wd-fontsize-s">ارسال روز</div>						<div class="info-box-inner reset-last-child"></div>

                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="whb-column whb-col-center whb-column9 whb-visible-lg">
                        <div class="site-logo whb-qti1igqvj1kghkll7nnw">
                            <a href="./" class="wd-logo wd-main-logo" rel="home" aria-label="لوگوی وب سایت">
                                <img src="./css/For_Header/Asset-2@184.png" alt="خواربارچی" style="max-width: 339px;" loading="lazy">
                            </a>
                        </div>
                    </div>
                    <div class="whb-column whb-col-right whb-column10 whb-visible-lg">
                        <div class="wd-header-search wd-tools-element wd-design-1 wd-style-icon wd-display-full-screen whb-sbo223hcef74cxvn0qlm" title="جستجو">
                            <a href="./#" rel="nofollow" aria-label="جستجو">

                                <span class="wd-tools-icon">
                                </span>

                                <span class="wd-tools-text">
                                    جستجو
                                </span>

                            </a>

                        </div>
                        <div class="wd-header-divider whb-divider-default whb-albm5uxuxxedb5jx8bqe"></div>

                        <div class="wd-header-wishlist wd-tools-element wd-style-icon wd-with-count wd-design-2 whb-bn4605p0rzbsu7kup2fa" title="لیست علاقمندی های من">
                            <a href="./" title="محصولات علاقه مندی">

                                <span class="wd-tools-icon">

                                    <span class="wd-tools-count">0</span>
                                </span>

                                <span class="wd-tools-text">
                                    علاقه مندی
                                </span>

                            </a>
                        </div>
                        <div class="wd-header-divider whb-divider-default whb-8ijvbgnt2ft9e1z9jshj"></div>
                        <div class="wd-header-divider whb-divider-default whb-r4fzfqsna41dpbb48o2q"></div>

                        <div class="wd-header-cart wd-tools-element wd-design-2 cart-widget-opener whb-909xiifk7ve155p9rk10">
                            <a href="./cart/" title="سبد خرید">

                                <span class="wd-tools-icon">
                                    <span class="wd-cart-number wd-tools-count">1 <span>محصول</span></span>

                                </span>
                                <span class="wd-tools-text">

                                    <span class="wd-cart-subtotal"><span class="woocommerce-Price-amount amount"><bdi>2,900,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></bdi></span></span>

                                </span>

                            </a>
                        </div>
                    </div>
                    <div class="whb-column whb-mobile-left whb-column_mobile2 whb-hidden-lg">
                        <div class="wd-tools-element wd-header-mobile-nav wd-style-text wd-design-1 whb-aon6pij7oan3rmwur4yl">
                            <a href="./#" rel="nofollow" aria-label="باز کردن منوی موبایل">

                                <span class="wd-tools-icon">
                                </span>

                                <span class="wd-tools-text">منو</span>

                            </a>
                        </div>
                    </div>
                    <div class="whb-column whb-mobile-center whb-column_mobile3 whb-hidden-lg">
                        <div class="site-logo whb-u3r4psb6w1c2nlkk82rj wd-switch-logo">
                            <a href="./" class="wd-logo wd-main-logo" rel="home" aria-label="لوگوی وب سایت">
                                <img width="184" height="65" src="./css/For_Header/TypoGraphy@184.png" class="attachment-full size-full" alt="Kharbarchi" style="max-width:150px;" decoding="async" srcset="./css/For_Header/TypoGraphy@184.png 184w, ./TypoGraphy@184-150x53.png 150w" sizes="(max-width: 184px) 100vw, 184px">
                            </a>
                            <a href="./" class="wd-logo wd-sticky-logo" rel="home">
                                <img width="184" height="65" src="./css/For_Header/TypoGraphy@184.png" class="attachment-full size-full" alt="Kharbarchi" style="max-width:150px;" decoding="async" srcset="./css/For_Header/TypoGraphy@184.png 184w, ./css/For_Header/TypoGraphy@184-150x53.png 150w" sizes="(max-width: 184px) 100vw, 184px">
                            </a>
                        </div>
                    </div>
                    <div class="whb-column whb-mobile-right whb-column_mobile4 whb-hidden-lg">

                        <div class="wd-header-cart wd-tools-element wd-design-5 cart-widget-opener whb-n54o37l7tfuvsmhfskq0">
                            <a href="./cart/" title="سبد خرید">

                                <span class="wd-tools-icon">
                                    <span class="wd-cart-number wd-tools-count">1 <span>محصول</span></span>

                                </span>
                                <span class="wd-tools-text">

                                    <span class="wd-cart-subtotal"><span class="woocommerce-Price-amount amount"><bdi>2,900,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></bdi></span></span>

                                </span>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="whb-row whb-header-bottom whb-sticky-row whb-with-bg whb-without-border whb-color-light whb-hidden-mobile whb-flex-equal-sides">
            <div class="container">
                <div class="whb-flex-row whb-header-bottom-inner">
                    <div class="whb-column whb-col-left whb-column11 whb-visible-lg">

                        <nav class="wd-header-nav wd-header-secondary-nav whb-12h0h9459wa7mu5h8ran text-right" role="navigation" aria-label="منوی اصلی راست">
                            <ul id="menu-%d9%85%d9%86%d9%88%db%8c-%d8%a7%d8%b5%d9%84%db%8c-%d8%b1%d8%a7%d8%b3%d8%aa" class="menu wd-nav wd-nav-header wd-nav-secondary wd-style-default wd-gap-s wd-offsets-calculated">
                                <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-13 current_page_item menu-item-19 item-level-0 menu-simple-dropdown wd-event-hover"><a href="./" class="Header_Base-nav-link"><span class="nav-link-text">صفحه اصلی</span></a></li>
                                <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-24 item-level-0 menu-simple-dropdown wd-event-hover">
                                    <a href="./shop/" class="Header_Base-nav-link"><span class="nav-link-text">فروشگاه</span></a><div class="color-scheme-dark wd-design-default wd-dropdown-menu wd-dropdown">
                                        <div class="container wd-entry-content">
                                            <ul class="wd-sub-menu color-scheme-dark">
                                                <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23 item-level-1 wd-event-hover"><a href="./cart/" class="Header_Base-nav-link">سبد خرید</a></li>
                                                <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22 item-level-1 wd-event-hover"><a href="./my-account/" class="Header_Base-nav-link">حساب کاربری</a></li>
                                                <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21 item-level-1 wd-event-hover"><a href="./checkout/" class="Header_Base-nav-link">پرداخت</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="whb-column whb-col-center whb-column12 whb-visible-lg whb-empty-column">
                    </div>
                    <div class="whb-column whb-col-right whb-column13 whb-visible-lg">

                        <nav class="wd-header-nav wd-header-secondary-nav whb-7owsphvfa2xjclaxkj3r text-left" role="navigation" aria-label="منوی چپ">
                            <ul id="menu-%d9%85%d9%86%d9%88%db%8c-%da%86%d9%be" class="menu wd-nav wd-nav-header wd-nav-secondary wd-style-default wd-gap-l">
                                <li id="menu-item-282" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-282 item-level-0 menu-simple-dropdown wd-event-hover"><a href="./mag/" class="Header_Base-nav-link"><span class="nav-link-text">بلاگ</span></a></li>
                                <li id="menu-item-283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-283 item-level-0 menu-simple-dropdown wd-event-hover"><a href="./my-account/" class="Header_Base-nav-link"><span class="nav-link-text">حساب کاربری</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="whb-column whb-col-mobile whb-column_mobile5 whb-hidden-lg whb-empty-column">
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


@code {
    private IJSObjectReference? headerModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
    // Small delay to ensure DOM is ready
                await Task.Delay(200);
                await JSRuntime.InvokeVoidAsync("headerSticky.init");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error initializing header: {ex.Message}");
            }
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (headerModule != null)
        {
            try
            {
                await JSRuntime.InvokeVoidAsync("headerSticky.destroy");
                await headerModule.DisposeAsync();
            }
            catch
            {
    // Ignore errors during disposal
            }
        }
    }
}