
:root {
	--wd-text-font: Yekanbakh;
	--wd-text-font-weight: 400;
	--wd-text-color: #777777;
	--wd-text-font-size: 14px;
	--wd-title-font: "Dana_Fat", Arial, Helvetica, sans-serif;
	--wd-title-font-weight: 900;
	--wd-title-transform: none;
	--wd-title-color: rgb(44,171,103);
	--wd-entities-title-font: Yekanbakh;
	--wd-entities-title-font-weight: 500;
	--wd-entities-title-color: #333333;
	--wd-entities-title-color-hover: rgb(51 51 51 / 65%);
	--wd-alternative-font: Yekanbakh;
	--wd-widget-title-font: Yekanbakh;
	--wd-widget-title-font-weight: 600;
	--wd-widget-title-transform: none;
	--wd-widget-title-color: #333;
	--wd-widget-title-font-size: 16px;
	--wd-header-el-font: Yekanbakh;
	--wd-header-el-font-weight: 600;
	--wd-header-el-transform: none;
	--wd-header-el-font-size: 13px;
	--wd-otl-style: dotted;
	--wd-otl-width: 2px;
	--wd-primary-color: #2CAB67;
	--wd-alternative-color: rgb(209,184,66);
	--btn-default-font-family: "YekanBakh", Arial, Helvetica, sans-serif;
	--btn-default-font-weight: 700;
	--btn-default-bgcolor: #f7f7f7;
	--btn-default-bgcolor-hover: #efefef;
	--btn-accented-font-family: "Dana_Fat", Arial, Helvetica, sans-serif;
	--btn-accented-font-weight: 900;
	--btn-accented-bgcolor: rgb(44,171,103);
	--btn-accented-bgcolor-hover: rgb(56,56,56);
	--wd-form-brd-width: 2px;
	--notices-success-bg: rgb(46,172,102);
	--notices-success-color: #fff;
	--notices-warning-bg: rgb(176,124,73);
	--notices-warning-color: #fff;
	--wd-link-color: #333333;
	--wd-link-color-hover: #242424;
}
.wd-age-verify-wrap {
	--wd-popup-width: 500px;
}
.wd-popup.wd-promo-popup {
	background-color: #111111;
	background-image: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
}
.wd-promo-popup-wrap {
	--wd-popup-width: 800px;
}
:is(.Header_Base-woocommerce-layered-nav, .wd-product-category-filter) .wd-scroll-content {
	max-height: 233px;
}
.wd-page-title .wd-page-title-bg img {
	object-fit: cover;
	object-position: center center;
}
.wd-footer {
	background-color: #f4f4f4;
	background-image: none;
}
.page .wd-page-content {
	background-image: url(/css/For_Header/Only_Back_Ground@4x.png);
	background-repeat: repeat-y;
	background-size: inherit;
}
 {
	font-family: "Dana_Fat", Arial, Helvetica, sans-serif;
	font-weight: 900;
}
.mfp-wrap.wd-popup-quick-view-wrap {
	--wd-popup-width: 920px;
}
:root{
--wd-container-w: 1322px;
--wd-form-brd-radius: 5px;
--btn-default-color: #333;
--btn-default-color-hover: #333;
--btn-accented-color: #fff;
--btn-accented-color-hover: #fff;
--btn-default-bottom-active: -1px;
--btn-default-brd-radius: 0px;
--btn-default-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
--btn-default-box-shadow-hover: inset 0 -2px 0 rgba(0, 0, 0, .15);
--btn-accented-brd-radius: 5px;
--btn-accented-box-shadow: none;
--btn-accented-box-shadow-hover: none;
}


rs-slides :is([data-type=text],[data-type=button]) {
font-family: Yekanbakh !important;
}
rs-slides :is(h1,h2,h3,h4,h5,h6)[data-type=text] {
font-family: Dana_Fat !important;
}

.wd-page-title {
background-color: #e8e8e8;
}



.Header_Base-button-wrapper.inline-element {
    margin-bottom: 0px;
}
.promo-banner {
    border-radius: 15px;
	overflow: hidden;
}
.banner-hover-background.color-scheme-dark:not(.banner-border) .wrapper-content-banner:after {
    border-radius: 15px;
}
.Header_Base-hover-tiled .product-wrapper {
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
}
.product-grid-item.Header_Base-hover-tiled .hover-img img, .product-grid-item.Header_Base-hover-tiled .product-image-link img {
    width: 100%;
}
.labels-rectangular .product-label {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 15px;
    margin-right: 5px;
}

@media (min-width: 1025px) {
	.whb-general-header {
    max-width: 1320px;
    margin: auto;
    border-radius: 44px;
}
.whb-sticked .whb-general-header {
    max-width: 100%;
    margin: auto;
    margin-top: 0px;
    border-radius: 0px;
}
.whb-header-bottom {
    border-bottom-right-radius: 41px;
    border-bottom-left-radius: 41px;
    padding: 0 43px;
    max-width: 1150px;
    margin: auto;
}
.whb-general-header .wd-logo:before {
    content: '';
    width: 239px;
    height: 239px;
    background: #f5f5f5;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    top: 59px;
}
.whb-sticked .whb-general-header .wd-logo:before {
    top: -14px;
	width: 200px;
    height: 200px;
	background:#fff;
}
.whb-general-header:before {
    content: "";
    background: url("/css/For_Header/Central_Curve_shadow2.svg") no-repeat;
    width: 364px;
    height: 325px;
    display: inline-block;
    margin: auto;
    left: 0;
    right: 0;
    background-size: contain;
    top: -4px;
    position: absolute;
}
	.whb-sticked .whb-general-header:before {
		content: "";
		background: url("/css/For_Header/Central_Curve_shadow2.svg") no-repeat;
		top: -117px;
		width: 364px;
		height: 325px;
	}
.whb-general-header .site-logo {
	z-index:9999;
	max-height: 190px;
}
.whb-sticked  .whb-general-header .site-logo {
	max-height: 120px;
	margin-top:60px
}
	.whb-general-header-inner, .whb-top-bar-inner {
    padding: 0px 20px;
}
}
.wd-dropdown-menu.wd-design-default, .wd-dropdown-menu.wd-design-default .wd-dropdown {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.wd-info-box .info-box-title {
    line-height: 1.5;
    margin-bottom: 0;
}
.box-icon-align-right .box-icon-wrapper {
    margin-left: 9px;
}
.main-page-wrapper {
    margin-top: -126px;
		padding-top:126px;
}
.page-title {
    padding-top: 163px !important;
}

.wd-nav[class*=wd-style-]>li>a:before {
    content: '';
    background: rgba(255,254,237,.4);
    background: -moz-linear-gradient(top,rgba(255,254,237,.4) 0%,rgba(255,221,0,0) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(255,254,237,.4)),color-stop(100%,rgba(255,221,0,0)));
    background: -webkit-linear-gradient(top,rgba(255,254,237,.4) 0%,rgba(255,221,0,0) 100%);
    background: -o-linear-gradient(top,rgba(255,254,237,.4) 0%,rgba(255,221,0,0) 100%);
    background: -ms-linear-gradient(top,rgba(255,254,237,.4) 0%,rgba(255,221,0,0) 100%);
    background: linear-gradient(to bottom,rgba(255,254,237,.4) 0%,rgba(255,221,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeed',endColorstr='#ffdd00',GradientType=0);
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: -5px;
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    opacity: 0;
}
.wd-nav[class*=wd-style-]>li:hover>a:before {
    opacity: 1;
}
.owl-stage-outer .wd-info-box .info-box-content {
    margin-top: 15px;
}
.whb-general-header {
    z-index: 2 !important;
}@media (min-width: 1025px) {
	.whb-general-header {
    z-index: 2 !important;
}
.whb-general-header .wd-logo:before {
    top: 95px;
}
.whb-general-header:before {
    top: 33px;
}

.whb-top-bar {
	position: relative;
}
.whb-top-bar:before {
	content: '';
	position:absolute;
	width: 100%;
	right: 0;
	left: 0;
	bottom:-37px;
	background: rgba(237, 249, 231, 1);
	height: 37px;
	z-index: -1;
}
}

 /*xts-Header-72097-17675555500 Start From Here*/
:root {
    --wd-top-bar-h: 150px;
    --wd-top-bar-sm-h: .00001px;
    --wd-top-bar-sticky-h: .00001px;
    --wd-top-bar-brd-w: .00001px;
    --wd-header-general-h: 73px;
    --wd-header-general-sm-h: 60px;
    --wd-header-general-sticky-h: 73px;
    --wd-header-general-brd-w: .00001px;
    --wd-header-bottom-h: 50px;
    --wd-header-bottom-sm-h: .00001px;
    --wd-header-bottom-sticky-h: 50px;
    --wd-header-bottom-brd-w: .00001px;
    --wd-header-clone-h: .00001px;
    --wd-header-brd-w: calc(var(--wd-top-bar-brd-w) + var(--wd-header-general-brd-w) + var(--wd-header-bottom-brd-w));
    --wd-header-h: calc(var(--wd-top-bar-h) + var(--wd-header-general-h) + var(--wd-header-bottom-h) + var(--wd-header-brd-w));
    --wd-header-sticky-h: calc(var(--wd-top-bar-sticky-h) + var(--wd-header-general-sticky-h) + var(--wd-header-bottom-sticky-h) + var(--wd-header-clone-h) + var(--wd-header-brd-w));
    --wd-header-sm-h: calc(var(--wd-top-bar-sm-h) + var(--wd-header-general-sm-h) + var(--wd-header-bottom-sm-h) + var(--wd-header-brd-w));
}

.whb-top-bar .wd-dropdown {
    margin-top: 54px;
}

.whb-top-bar .wd-dropdown:after {
    height: 65px;
}


.whb-sticked .whb-general-header .wd-dropdown:not(.sub-sub-menu) {
    margin-top: 15.5px;
}

.whb-sticked .whb-general-header .wd-dropdown:not(.sub-sub-menu):after {
    height: 26.5px;
}




.whb-header-bottom .wd-dropdown {
    margin-top: 4px;
}

.whb-header-bottom .wd-dropdown:after {
    height: 15px;
}

.whb-sticked .whb-header-bottom .wd-dropdown:not(.sub-sub-menu) {
    margin-top: 4px;
}

.whb-sticked .whb-header-bottom .wd-dropdown:not(.sub-sub-menu):after {
    height: 15px;
}



.whb-top-bar {
    background-color: rgba(237, 249, 231, 1);
}

.whb-wafnbs36h7690ijjmevd.info-box-wrapper div.wd-info-box {
    --ib-icon-sp: 10px;
}

.whb-sbo223hcef74cxvn0qlm form.searchform {
    --wd-form-height: 46px;
}

.whb-general-header {
    background-color: rgba(255, 255, 255, 1);
}

.whb-header-bottom {
    background-color: rgba(46, 172, 102, 1);
}

 /*xts-Header-72097-17675555500 End To Here*/
