@using Kharbarchi.Client.Model.Header

<div class="whb-row whb-top-bar whb-not-sticky-row whb-with-bg whb-without-border whb-color-dark whb-hidden-mobile whb-flex-equal-sides">
    <div class="container">
        <div class="whb-flex-row whb-top-bar-inner">
            <div class="whb-column whb-col-left whb-column5 whb-visible-lg">
                <SocialIcons SocialIcons="@socialIcons" />
            </div>
            <div class="whb-column whb-col-center whb-column6 whb-visible-lg whb-empty-column">
            </div>
            <div class="whb-column whb-col-right whb-column7 whb-visible-lg">
                <Menu NavClass="wd-header-nav wd-header-secondary-nav whb-rbolg44gjrvghdho9924 text-left"
                      AriaLabel="نوار بالای سربرگ"
                      MenuId="menu-top-bar"
                      MenuClass="wd-style-separated wd-gap-s nav-link-Toptext"
                      MenuItems="topBarMenuItems" 
                      Base_Classes="nav-link-Toptext"/>
            </div>
            <div class="whb-column whb-col-mobile whb-column_mobile1 whb-hidden-lg whb-empty-column">
            </div>
        </div>
    </div>
</div>

@code {
    private List<SocialIcon> socialIcons = new()
    {
        new() { Name = "Facebook", Url = "./#", AriaLabel = "Facebook link", CssClass = "bi bi-facebook" },
        new() { Name = "Twitter", Url = "./#", AriaLabel = "لینک شبکه X", CssClass = "bi bi-twitter-x" },
        new() { Name = "Instagram", Url = "./#", AriaLabel = "لینک اینستاگرام", CssClass = "bi bi-instagram" },
        new() { Name = "Youtube", Url = "./#", AriaLabel = "Youtube link", CssClass = "bi bi-youtube" },
        new() { Name = "Pinterest", Url = "./#", AriaLabel = "لینک Pinterest", CssClass = "bi bi-pinterest" }
    };

    private List<MenuItem> topBarMenuItems = new List<MenuItem>
    {
        new MenuItem { Id = 18, Title = "فروشگاه", Url = "./shop/" },
        new MenuItem { Id = 17, Title = "بلاگ", Url = "./mag/" },
        new MenuItem { Id = 16, Title = "برند ها", Url = "./#" },
        new MenuItem { Id = 15, Title = "مطالب کاربران", Url = "./#" }
    };
}