<nav class="desktop-header">
    <a href="/" class="logo">
        <img src="css/For_Header/TypoGraphy@184.png" alt="Kharbarchi" />
    </a>

    <ul class="nav-links">
        <li><a href="/shop">فروشگاه</a></li>
        <li><a href="/mag">مجله</a></li>
        <li><a href="/brands">برندها</a></li>
    </ul>

    <O_ShoppingCart />
</nav>