@* DeliveryInfo.razor *@
<div class="info-box-wrapper whb-wafnbs36h7690ijjmevd">
    <div id="delivery-info-box" class="wd-info-box text-right box-icon-align-right box-style-base color-scheme- wd-bg-none wd-items-top">
        <div class="box-icon-wrapper box-with-icon box-icon-simple">
            <div class="info-box-icon">
                <img width="41"
                     height="24"
                     src="./css/For_Header/same-day-delivery-41x24-1.png"
                     class="attachment-size-"
                     alt="تحویل همان روز"
                     decoding="async"
                     loading="lazy" />
            </div>
        </div>
        <div class="info-box-content">
            <div class="info-box-title title box-title-style-default wd-fontsize-s">
                ارسال روز
            </div>
            <div class="info-box-inner reset-last-child"></div>
        </div>
    </div>
</div>