@* MainHeader.razor *@
<nav class="whb-header whb-scroll-stick whb-sticky-real whb-sticky-prepared">
    <div class="whb-main-header">
        <TopBar />
        <GeneralHeader />
        <HeaderBottom />
    </div>
</nav>
